a {
    text-decoration: none;
    color: inherit;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    text-align: center;
    background-color: ghostwhite;
}


main {
    flex: 1;
}


footer {
    background-color: #DC143C;
    color: black;
    text-align: center;
    padding: 10px 0;
}

header {
    background-color: #571023;
    border: 1px solid black;
    text-align: left;
    padding: 5px;
    border-radius: 10px;
    font-size: 9px;
}

#formulario-contacto {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: 0 auto;
    gap: 15px;
    padding-top: 20px;
}

#formulario-contacto label {
    font-weight: bold;
    margin-bottom: -10px;
}

#formulario-contacto button {
    align-self: center;
    padding: 10px 20px;
    cursor: pointer;
}

.contenedor-galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 40px 20px;
}

.juegos {
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

 .juegos img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
 }

 juegos h3, juegos p {
     padding: 0 10px;
     text-align: center;
 }

 juegos h3 {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
 }

 .juegos:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
 }

.boton-volver {
    align-self: center;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #DC143C;
    border: 3px solid black;
    border-radius: 10px;
}
.boton-volver:hover {
    color: inherit;
    font-weight: bold;
}

.video-container {
    text-align: center;
}

